

<% if !a.abandoned %>
	<%= link_to "hylkää hakemus", toggle_abandoned_application_path(a.id), method: :post, class: "btn btn-default", style:"" %>
<% else %>
	<%= link_to "poista hylätyistä", toggle_abandoned_application_path(a.id), method: :post, class: "btn btn-default", style:"" %>
<% end %>

  <div id="send_message_form"></br>

  <form ng-submit="sendMessage(<%= a.user.id %>, <%= a.open_job.company.id %>, <%= a.id %>)" ng-controller="OpenJobAdminCtrl">
    Lähetä haastattelukutsu käyttäjälle <%= a.user.username %> </br>
    <input type='text' ng-model="message.content<%= a.id %>" name='message[content<%= a.id %>]' rows="5" cols="80">  </br></br>
    <input type="submit" id="submit" value="Lähetä" />
  </form>
  </div>

</br></br>

<p>
  <strong>Username:</strong>
  <%= a.user.username %>
</p>

<p>
  <strong>Vapaa kenttä</strong></br>
  <%= a.freetext %>
</p>

<h2>Kokemukset</h2>

<table class="table">
   <thead>
      <tr>
        <th>Kuvaus/opiskeluohjelma</th>
        <th>Tyyppi</th>
        <th>Paikka jos relevantti</th>
        <th>Alku</th>
        <th>Loppu</th>
      </tr>
    </thead>
    <tbody>
<% a.experiences.each do |e| %>
	<tr>
	<td><%= e.description %> </td>
	<td><%= e.place %></td>
	<td><%= e.strictplace %></td>
	<td><%= e.start %></td>
	<td><%= e.end %></td>
	</tr>
<% end %>
</tbody>
</table>
