<p id="notice"></p>

<p>
  <h2> Hakemus työhön <%= @application.open_job.name %> <%= link_to @application.open_job.company.name, @application.open_job.company %>
  	<% if @application.abandoned  %>
      <span class="label label-info">hylätty</span>
  	<% end %>
  </h2>
</p>

<% if !@application.abandoned %>
	<%= link_to "hylkää hakemus", toggle_abandoned_application_path(@application.id), method: :post, class: "btn btn-danger btn-lg", style:"color:white;" %>
<% else %>
	<%= link_to "poista hylätyistä", toggle_abandoned_application_path(@application.id), method: :post, class: "btn btn-danger btn-lg", style:"color:white;" %>
<% end %>

</br></br>

<p>
  <strong>Username:</strong>
  <%= @application.user.username %>
</p>

<p>
  <strong>Vapaa kenttä</strong></br>
  <%= @application.freetext %>
</p>

<h2>Kokemukset</h2>

<table class="table">
   <thead>
      <tr>
        <th>Kuvaus</th>
        <th>Tyyppi</th>
        <th>Paikka jos relevantti</th>
        <th>Alku</th>
        <th>Loppu</th>
      </tr>
    </thead>
    <tbody>
<% @application.experiences.each do |e| %>
	<tr>
	<td><%= e.description %> </td>
	<td><%= e.place %></td>
	<td><%= e.strictplace %></td>
	<td><%= e.start %></td>
	<td><%= e.end %></td>
	</tr>
<% end %>
</tbody>
</table>

<%= link_to 'Takaisin', administration_open_job_path(@application.open_job) %>
