<p id="notice"></p>

<p>
  <h2> Application for <%= @application.open_job.name %> of <%= link_to @application.open_job.company.name, @application.open_job.company %> </h2>
</p>

<p>
  <strong>Username:</strong>
  <%= @application.user.username %>
</p>

<p>
  <strong>Vapaa kenttä</strong></br>
  <%= @application.freetext %>
</p>

<% @application.experiences.each do |e| %>
	<%= e.description %>
<% end %>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
