<p id="notice"><%= notice %></p>

<p>
  <h2> Application for <%= @application.open_job.name %> of <%= link_to @application.open_job.company.name, @application.open_job.company %> </h2>
</p>

<p>
  <strong>User id:</strong>
  <%= @application.user_id %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
