<script>

var appi = angular.module('send_message_for_hakija_app', []);

appi.controller('OpenJobAdminCtrl', [
'$scope','$parse',
function($scope, $parse){

  $scope.message = {};
  $scope.message.content = " ";

  $scope.sendMessage = function(param_receiver_id, param_company_id, application_id){

    var the_string = 'message.content' + application_id;
    var getter = $parse(the_string);

    var contentt = getter($scope);

    getter.assign($scope, "");

    var message = {
      content: contentt,
      receiver_id: param_receiver_id, 
      company_id: param_company_id
    }

    $.post('/messages', message)
    .success(function(data, status) {
         alert("Onnistui");
    }).error(function(data, status) {
        alert("error");
    });

  };

}]);

</script>

<% if current_user && @open_job.company.users.includes(current_user) %>
  <h1> <%= @open_job.name %> ylläpito

       <span><%= link_to 'Poista', @open_job , method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger", style:"color:white;"%></span>

<% if can? :edit, @open_job %>
        <span> <%= link_to 'Muokkaa', edit_open_job_path(@open_job), 'data-no-turbolink' => true, class:"btn btn-default"  %> </span>
       <% end %>
  </h1>

Vanhentuu hakijoille: <%= @open_job.expires %></br></br>
<i><%= @open_job.description %></i>

</br></br>
	<h2> Hakemukset 


     <% if session[:show_abandoned] == "true" %>
        <span> <%= link_to "Älä näytä hylättyjä hakemuksia", toggle_showing_abandoned_path, method: :post, class: "btn btn-primary", style:"color:white;" %></span>
        <% else %>
        <span><%= link_to "Näytä myös hylätyt hakemukset", toggle_showing_abandoned_path, method: :post, class: "btn btn-primary", style:"color:white;" %></span>
        <% end %>

  </h2>

<div ng-app="send_message_for_hakija_app" ng-controller="OpenJobAdminCtrl">

  <table class="table">

     <thead>
      <tr>
        <th>Käyttäjänimi</th>
      </tr>
    </thead>

  <tbody>
	<% @applications.each do |a| %>
    <tr>
    <% div_id = "hidden-partial-#{a.id}" -%>
		<td><div id="<%= div_id -%>" class="hidden_partial_button btn btn-default" style="margin-bottom:10px;"> <%=a.user.username %>
        <% if a.abandoned  %>
       <span class="label label-info">hylätty</span>
       <% end %>
       </div>
      <div style="display:none;border: 1px solid #2ecc71; padding:10px;" id="<%= div_id -%>divi" class="hidden_partial">
        <%= render 'applications/showpartial', a: a %>
      </div>
    </td>
    </tr>
	<% end %>
  </tbody>
</div>

<% else %>
 Et ole ylläpitäjä.
<% end %>

<script>
$( document ).ready(function() {

$( ".hidden_partial_button" ).click(function() {
  id = this.id
  $( "#" + id + "divi" ).slideToggle( "slow", function() {
    // Animation complete.
  });
});

});
</script>