<p id="notice"><%= notice %></p>

<h1>Listing Open Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Name</th>
      <th>Description</th>
      <th>Expires</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @open_jobs.each do |open_job| %>
      <tr>
        <td><%= open_job.company_id %></td>
        <td><%= open_job.name %></td>
        <td><%= open_job.description %></td>
        <td><%= open_job.expires %></td>
        <td><%= link_to 'Show', open_job %></td>
        <td><%= link_to 'Edit', edit_open_job_path(open_job) %></td>
        <td><%= link_to 'Destroy', open_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Open job', new_open_job_path %>
