<p id="notice"></p>


<h1><%= @open_job.name %>,  <%= link_to @open_job.company.name, @open_job.company %>  </h1>

<h4><%= @open_job.description %></h4>

<p>
  <strong>Viimeinen hakupäivä</strong>
  <%= @open_job.expires %>
</p>





    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script> -->
  <%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>

<% if current_user %>
  <div ng-app="apsyla" ng-controller="MainCtrl">

    <div id="create_application_button" class="btn btn-primary">
      Tee hakemus!
    </div>


    <div id="send_application_form" style="display:none;border: 1px solid #2ecc71; padding:10px; border-radius:1px;" ></br>
    	Vapaa kenttä </br></br>
		<textarea type='text' ng-model='application.freetext' name='application[freetext]' rows="5" cols="80"></textarea> </br></br>


		<div id="experiences"> </div></br></br>

		<div id="create_experience_button" class="btn btn-primary">Lisää työ/opiskelukokemus</div></br></br>

		<div style="display:none;border: 1px solid #2ecc71; padding:10px; border-radius:1px;" id="create_experience_form">

			<h4>Uusi kokemus </h4>
			Paikka </br><input type='text' ng-model='experience.place' name='experience[place]'> </br></br>
			Kuvaus 	(opiskeluohjelma/työnkuvaus) </br><textarea type='text' ng-model='experience.des' name='experience[des]' rows="5" cols="50"></textarea> </br></br>
			Alku <input type="date" name="experience[starting]" ng-model="experience.starting"
       placeholder="yyyy-MM-dd" /> </br> </br>

       		Loppu <input type="date" name="experience[end]" ng-model="experience.end"
       placeholder="yyyy-MM-dd" /> </br> </br>

			<button ng-click='addExperience()'>Tallenna kokemus</button>
		</div></br>
		<button ng-click='sendApplication()' class="btn btn-default btn-lg" style="background-color:#2ecc71;color:white;">Lähetä hakemus!</button>
	</div>

  </div>
<% else %>
Kirjaudu sisään jotta voit hakea!
<% end %>
<script>
$( "#create_application_button" ).click(function() {
  $( "#send_application_form" ).slideToggle( "slow", function() {
    // Animation complete.
  });
});

$( "#create_experience_button" ).click(function() {
  $( "#create_experience_form" ).slideToggle( "slow", function() {
    // Animation complete.
  });
});
</script>