<p id="notice"><%= notice %></p>


<h1><%= @open_job.name %>,  <%= link_to @open_job.company.name, @open_job.company %>  </h1>

<h4><%= @open_job.description %></h4>

<p>
  <strong>Viimeinen hakupäivä</strong>
  <%= @open_job.expires %>
</p>

<% if current_user %>
	<div class="btn btn-primary" id="send_application_button"> New application </div>

	<div id="application_form" style="display:none;">
		<%= form_for(@application) do |f| %>
    		<%= f.hidden_field :open_job_id %>
 			<%= f.hidden_field :user_id %>
 			</br>
 			<b>Vapaa kenttä</b> </br> 
 			<%= f.text_area :freetext,  class:"form-control", size:"5x5" %></br>
		<%= f.submit %>
		<% end %>
	</div>

<% else %>
	Kirjaudu sisään jotta voit hakea!
<% end %>

</br>
</br>
<%= link_to 'Back', open_jobs_path, 'data-no-turbolink' => true  %>

<script>
$( document ).ready(function() {
    $( "#send_application_button" ).click(function() {
  		$( "#application_form" ).slideToggle( "slow", function() {
    	// Animation complete.
  		});
	});
});
</script>
