<p id="notice"><%= notice %></p>


<h1><%= @open_job.name %>,  <%= @open_job.company.name %>  </h1>



<h4><%= @open_job.description %></h4>

<p>
  <strong>Viimeinen hakupäivä</strong>
  <%= @open_job.expires %>
</p>

<%= link_to 'Edit', edit_open_job_path(@open_job), 'data-no-turbolink' => true  %> |
<%= link_to 'Back', open_jobs_path, 'data-no-turbolink' => true  %>
