
<script>

$( document ).ready(function() {

Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
};

var user_id = document.getElementById('div-item-data').getAttribute("data-user-id");

var pusher = new Pusher('f510b36c2a7566d4a93a', {
    encrypted: true
});

var channel = pusher.subscribe('message_channel_' + user_id);
channel.bind('new_message', function(data) {
      var obj = JSON.parse(data.message)
      $( "#conversation-" + obj.conversation_id ).append("<b>"+ obj.sendername + "</b>: " + obj.content + "</br>");
});

var channel = pusher.subscribe('user_not_seen_channel_' + user_id);
channel.bind('new_not_seen_value', function(data) {
      var obj = JSON.parse(data.message)
      $( "#not_seen_messages").text(obj);
});


$('.conversation_channel').each(function(index, object){
      var channel_id = object.getAttribute("conversation-channel");
      var channel = pusher.subscribe('conversation_channel_' + channel_id);
      channel.bind('set_seen_messages', function(data) {
        console.log('CHANNEL: ' + channel_id + " numero: " + JSON.parse(data.message));
        var obj = JSON.parse(data.message)
        $('#label_' + object.id).text(obj);
      });
});

});

var appi = angular.module('send_message_to_conversation_app', []);

appi.controller('MainCtrl', [
'$scope','$parse',
function($scope, $parse){

  $scope.message = {};
  $scope.message.content = " ";

  $scope.sendMessage = function(param_conversation_id){

    var the_string = 'message.content' + param_conversation_id;
    var getter = $parse(the_string);

    var contentt = getter($scope);

    getter.assign($scope, "");

    var param_message = {
      content: contentt,
      conversation_id: param_conversation_id, 
    }

    $.post('/messages', { message: param_message })
    .success(function(data, status) {
         
    }).error(function(data, status) {
        alert("error");
    });

  };

}]);

</script>

<div id="div-item-data" data-user-id="<%= current_user.channel %>"></div>

<div ng-app="send_message_to_conversation_app" ng-controller="MainCtrl">

<h2> Keskustelut </h2>

<table class="table">

     <thead>
      <tr>
        <th>Keskustelukumppani</th>
      </tr>
    </thead>

  <tbody>
	<% @user.conversations.each do |a| %>
    <div class="conversation_channel" conversation-channel="<%= a.userchannel %>" id="<%=a.id %>"></div>
    <tr>
    <% div_id = "hidden-partial-#{a.id}" -%>
		<td><div id="<%= div_id -%>" class="hidden_partial_button btn cool_button"> <%=a.company.name %> <span id="label_<%=a.id%>" class="label label-info"><%= a.not_seen(current_user.id) %></span></div>
      <div style="display:none;" id="<%= div_id -%>divi" class="hidden_partial">
        <%= render 'conversations/showpartial', conversation: a %>
      </div>
    </td>
    </tr>
	<% end %>

<% if @user.companies.count > 0 %>
	<% @user.companies.each do |c| %>
		<% c.conversations.each do |a| %>
    <% if a.user != current_user %>
    <% channeli = ConversationChannel.find_by(user_id:current_user.id, conversation_id:a.id).channel %>
    <div class="conversation_channel" conversation-channel="<%= channeli %>" id="<%=a.id %>"></div>
     <tr>
    <% div_id = "hidden-partial-#{a.id}" -%>
    <td><div id="<%= div_id -%>" class="hidden_partial_button btn cool_button"> <%= User.find(a.user).username %> liittyen yritykseen <%=c.name%> <span class="label label-info" id="label_<%=a.id%>"><%= a.not_seen(current_user.id) %></span></div>
      <div style="display:none;" id="<%= div_id -%>divi" class="hidden_partial">
        <%= render 'conversations/showpartial', conversation: a %>
      </div>
    </td>
    </tr>
    <% end %>
		<% end %>
	<% end %>
   </tbody>

<% end %>

</div>

<script>
$( document ).ready(function() {

$( ".hidden_partial_button" ).click(function() {
  id = this.id
  $( "#" + id + "divi" ).slideToggle( "slow", function() {
    var conversation = {
      id: id.split("-")[2],
    }

    $.post('/set_read', conversation)
    .success(function(data, status) {

    }).error(function(data, status) {
        alert("error");
    });

  });
});

});
</script>