<% if current_user && @company.users.includes(current_user) %>
  <h1> Administration of <%= @company.name %></h1>

       <%= link_to 'Destroy company', @company , method: :delete, data: { confirm: 'Are you sure? All open jobs of this company will be also deleted.' }, class:"btn btn-danger", style:"color:white;"%>

	<h3> Admins </h3>
	<% @company.users.each do |a| %>
		<%= a.username %> </br>
	<% end %>

	<h3> Create new open job </h3>

	<%= form_for(@open_job) do |f| %>
    	<%= f.hidden_field :company_id %>
    	<div class="field">
    		<%= f.label :name %><br>
    		<%= f.text_field :name, class:"form-control" %>
		</div>
 		 <div class="field">
   			 <%= f.label :description %><br>
   			 <%= f.text_area :description, class:"form-control" %>
 		 </div>
 		 <div class="field">
    		<%= f.label :expires %><br>
        Tämän jälkeen työpaikkaa ei enää näytetä avoimissa työpaikoissa.
    		<%= f.date_field :expires %>
		</div>
    <%= f.submit %>

    <h3> Open jobs </h3>
    <% @company.open_jobs.each do |o| %>
    	<%= link_to o.name, o %> </br>
    <% end %>
  <% end %>


<% else %>
You're not admin of this company.
<% end %>
