<% if current_user && @company.users.includes(current_user) %>
  <h1> <%= @company.name %> ylläpito</h1>

       <%= link_to 'Poista yritys', @company , method: :delete, data: { confirm: 'Oletko varma? Kaikki yrityksen avoimet työpaikat poistuvat myös.' }, class:"btn btn-danger", style:"color:white;"%> 
        <%= link_to 'Muokkaa perustietoja', edit_company_path(@company), 'data-no-turbolink' => true, class:"btn btn-primary", style:"color:white;"  %> 
	<h3> Ylläpitäjät </h3>
	<% @company.users.each do |a| %>
		<%= a.username %> </br>
	<% end %>

	<h3> Luo uusi avoin työpaikka </h3>

	<%= form_for(@open_job) do |f| %>
    	<%= f.hidden_field :company_id %>
    	<div class="field">
    		Nimi
    		<%= f.text_field :name, class:"form-control" %>
		</div>
 		 <div class="field">
   			 Työn kuvaus
   			 <%= f.text_area :description, class:"form-control" %>
 		 </div>
 		 <div class="field">
    		<b>Vanhentumisaika </b></br>
        Tämän jälkeen työpaikkaa ei enää näytetä avoimissa työpaikoissa, mutta se säilyy yrityksen ylläpidossa. </br>
    		<%= f.date_field :expires %>
		</div>
    <%= f.submit %>

    <h3> Avoimien työpaikkojen ylläpito </h3>
    <% @company.open_jobs.each do |o| %>
    	<%= link_to o.name, administration_open_job_path(o) %> </br>
    <% end %>
    <% if @company.open_jobs.length == 0 %>
      Ei vielä työpaikkoja!
    <% end %>
  <% end %>


<% else %>
  Et ole ylläpitäjä.
<% end %>
