<p id="notice"><%= notice %></p>


<h1><%= @company.name %></h1>


<h3>
  <%= @company.description %>
</h3>

<% if @company.users.includes(current_user) %>
	<%= link_to "Admin page", administration_company_path(@company) %>
<% end %>

<%= link_to 'Edit', edit_company_path(@company), 'data-no-turbolink' => true  %> |
<%= link_to 'Back', companies_path, 'data-no-turbolink' => true  %>
